<div
  class="bg-black h-screen w-screen flex flex-col text-center relative overflow-hidden"
>
  <div class="z-30 relative">
    <h2 class="text-white pt-40 text text-4xl">Disfrute de Tesla</h2>
    <p class="text-sm text-white mt-2">Programe una prueba de conducción</p>
  </div>

  <div
    class="absolute bottom-0 left-1/2 transform -translate-x-1/2 mb-20 backdrop-blur-sm text-white z-30 border-2 border-white px-12 py-2 rounded hover:bg-white hover:text-black transition-colors duration-300"
  >
    <a href="#">Prueba de conducción</a>
  </div>

  <div class="absolute top-0 left-0 w-full h-full z-10">
    <video
      class="w-full h-full object-cover"
      muted
      autoplay
      loop
      src="/assets/videos/video.webm"
    ></video>
  </div>
</div>
