<app-layout />
<div
  class="relative snap-y snap-mandatory w-full h-screen overflow-y-auto overflow-x-hidden"
>
  <div id="home" class="snap-start">
    <app-hero-section />
  </div>
  <div id="model-s" class="snap-start">
    <app-model-s />
  </div>
  <div id="model-3" class="snap-start">
    <app-model3 />
  </div>
  <div id="model-x" class="snap-start">
    <app-model-x />
  </div>

  <div id="model-y" class="snap-center">
    <app-model-ysection />
  </div>
  <div id="model-cybertruck" class="snap-start">
    <app-cyber-truck />
  </div>

  <div id="powerwall" class="snap-start">
    <app-power-wall />
  </div>

  <div id="carga" class="snap-center">
    <app-charge-section />
  </div>
</div>
